* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
}

header.container-fluid {
    padding: 0;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: 0;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 40rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    margin-left: 15px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 6rem;
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(/img/apple-button.png);
}

.app-download:nth-child(2) {
    background-image: url(/img/googleplay-button.png);
}

a.nav-link {
    color: black;
}

header ul li.nav-item {
    width: 45px;
}

a.custom-link {
    font-size: 1.1em;
    font-weight: bold;
    color: #0095f6;
}

.font-light {
    color: #8e8e8e;
}

main input.form-control, main textarea.form-control {
    font-size: 1.2em;
}

main.container {
    max-width: 1200px;
}

figure#profile {
    width: 40px;
}

footer {
    max-width: 800px !important;
}

footer .col, footer .col-4 {
    padding: 10px;
    font-size: .9em;
}

.white-space {
    white-space: nowrap;
    text-overflow: ;
}

/* media queries */
@media (min-width: 1200px) {
    .col-xl-1 {
        max-width: unset;
    }
}

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-continue {
        margin-left: 20px;
    }

    main.container {
        max-width: 1000px;
        padding: 0;
    }

    main.container .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 897px) {
    div.order-1 {
        display: none;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #fff;
    }
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}
